.card-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-bottom: 16px;
  .card-list__item {
    padding: 8px;
    flex: 0 1 250px;
    min-width: 25%;
  }
}
