.font-12 {
	font-size: 12px;
}

.font-14 {
	font-size: 14px;
}

.font-16 {
	font-size: 16px;
}

.font-20 {
	font-size: 20px;
}

.font-24 {
	font-size: 24px;
}

.font-32 {
	font-size: 32px;
}

.font-normal {
	font-weight: normal;
}

.font-medium {
	font-weight: 600;
}

.font-black {
	color: #333333;
}

.font-disabled {
	color: #7F7F80;
}

.font-label {
	color: #5979A6;
}

.font-link {
	color: #2671D9;
}

.font-netral {
	color: #E5E7E9;
}

.font-textfield {
	color: #9C9C9C;
}

.font-danger {
	color: #C53830;
}

.font-green {
	color: #397E5D;
}

.font-white {
	color: #FFFFFF;
}

.decoration-link {
	text-decoration: underline;
}